.sn-ListItem {
    background: rgba(226, 225, 225, 0.623);
    margin: 10px 10px;
  }
  
  .sn-ListItem:hover {
    background: black;
    color: white;
  }  
  .sn-SubList{
    background: rgb(214, 213, 213);
    padding: 8px 10px;
    border-radius: 5px;
  
  }
  .sn-SubList:hover{
    background: white;
    color: black;
    border: 1px solid black;
  }